.header{
    width: 100%;
    background-color: #000;
    position:fixed;
    top: 0;
    z-index: 10000;
    height: 80px;
}
.my_header{
    height: 80px;
    background: #000;
    margin:0 auto;
    width:100%;

}
.my_a {
    padding: 0 10px;
    font-size:0.7rem;
    font-family:"Arial";
    color: #fff;
}
.bg-dark {
    background-color: #000 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}



@media (max-width: 576px){
    .my_header-ul{
        background-color: #000;
    }
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.select_company{
    min-width: 8rem !important;
    background-color:#000;
    padding: 0.5rem 0.6rem ;
    margin: 0.2rem -0.5rem ;
    
}
.select_company li{
    padding: 0.2rem 0.4rem;
    
}
.select_company a{
    color:#fff !important;
    font-size:12px !important;
}
.company_after:after{
    content:"";
    display: block;

  
    position: absolute;
    right:-9px;
    top:15px;
    border-top:5px solid #fff;
    border-right:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid transparent;

    
   
}
.company_after{
    position: relative;;
}

